Body{
    margin:0;
    padding:0;
}

header{
    background-color:red;
}

h1{
    padding:.25em;
    margin:0;
    text-align: center;
    transition-property:color,font-size,background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
}

h1:hover{
    color: blue;
    font-size:25px;
    background-color: grey;
}

nav ul{
    padding: 0;
    margin:0;
    text-align: center;
    background-color: blue;
}

nav li {
    display:inline-block;
    width:30%;
}

nav a{
    text-decoration:none;
    color: yellow;
}

div .image {
  height: 150px;
  width: 150px;
  animation-name: image-manip

}

@keyframes image-manip {
  from{
    height: 150px;
    width: 150px;
  }
  to{
    width: 300px;
    height:300px;
  }
}
